.pop-up__submit-description{
    margin: 0;
    color: #FFFFFF;
    min-width: 109px;
    min-height: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media screen and (max-width:935px) {

.pop-up__submit-description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    min-width: 74px;
}

}