.pop-up__elements {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  max-width: 430px;
  min-height: 330px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  transition: all 0.6s ease-out;
}

@media screen and (max-width: 935px) {
  .pop-up__elements {
    max-width: 282px;
    min-height: 322px;
  }
}
