.profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 51px;
  transition: all 0.6s ease-in-out;
}

@media screen and (max-width: 900px) {
  .profile {
    flex-direction: column;
    padding: 42px 0 36px;
  }
}
