.pop-up__close {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: none;
  cursor: pointer;
  position: absolute;
  border: none;
  right: -10%;
  top: -12%;
  align-self: center;
  transition: all 0.4s ease-in-out;
}

.pop-up__close:hover {
  opacity: 0.6;
}

.pop-up__close:active {
  transition: none;
  opacity: 0.4;
}

@media screen and (max-width: 935px) {
  .pop-up__close {
    right: -1%;
    top: -11%;
    width: 20px;
    height: 20px;
  }
}
