.element {
  display: grid;
  grid-template: minmax(282px, 1fr) / 1fr;
  overflow: hidden;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  position: relative;
  transition: all 0.6s ease-in-out;
}

@media screen and (max-width: 320px) {
  .element {
    grid-template: 282px 79px/ 282px;
  }
}
