.profile__info {
  max-width: 336px;
  display: grid;
  grid-template-areas:
    "profile__name profile__edit-button"
    "profile__description .";
  gap: 10px 18px;
  align-self: center;
  align-items: center;
  transition: all 0.6s ease-in-out;
}

@media screen and (max-width: 900px) {
  .profile__info {
    grid-template-columns: 1fr 189px 1fr;
    grid-template-areas:
    ". profile__name profile__edit-button"
    ". profile__description .";
    text-align: center;
    gap: 8px 10px;
    margin: 26px 0 36px;
  }
}
