.pop-up__submit {
  padding: 0;
  width: 358px;
  min-height: 50px;
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 36px 37px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.pop-up__submit:hover {
  opacity: 0.8;
}

.pop-up__submit:active {
  transition: none;
  opacity: 0.4;
}

@media screen and (max-width: 900px) {
  .pop-up__submit {
    width: 238px;
    min-height: 46px;
    margin: 45px 22px 25px;
    font-size: 14px;
    line-height: 17px;
  }
}
